<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Top 5 Cars</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/">Click here to go back to the homepage!</a>
<center>
    <h1>My Top 5 Cars:</h1>
    <ul>
        <h4>{{ cars[0].upper() }}</h4>
        <h4>{{ cars[1].upper() }}</h4>
        <h4>{{ cars[2].upper() }}</h4>
        <h4>{{ cars[3].upper() }}</h4>
        <h4>{{ cars[4].upper() }}</h4>
    </ul>
</center>
</body>
</html>