<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<center>
    <h1>Usama's Top 5</h1>
    <h3>Welcome to the list of my top 5 cars! <br> You won't see the cars listed on this page but feel free to click on that link below.</h3>
    <button><a href="http://127.0.0.1:5000/favorite-5">Click here to access the list!</a></button>
</center>
</body>
</html>